@charset "utf-8";

/* common.css */

html,body{ margin:0; }
*{
    box-sizing: border-box;
}
ul,li{
    list-style-type: none;
    margin:0; padding:0;
}
h1,h2,h3,h4,h5,h6,p,figure{ margin:0; }
img{vertical-align: top;}
a{text-decoration: none; color: black;}
a:visited{
    color: inherit;}

/* ul,li을 사용했다면 list-style-type:none으로 사용 */
/* h2,p 태그를 사용한다면 margin:0;을 사용해야 한다.*/
/* a{text-decoration:none}*/
/* img()vertical-align:top*/